---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Kinetic from "../components/Kinetic.astro";
import Howitworks from "../components/Howitworks.astro";
import Reviews from "../components/Reviews.astro";
import Ourteam from "../components/Ourteam.astro";
import Quote from "../components/Quote.astro";
import Subscription from "../components/Subscription.astro";
import { Image } from "astro:assets";
import whytails from "../assets/images/WhyTails.webp";
import some1 from "../assets/images/some1.webp";
import some2 from "../assets/images/some2.webp";
import some3 from "../assets/images/some3.webp";
import some4 from "../assets/images/some4.webp";
import some5 from "../assets/images/some5.webp";
import some6 from "../assets/images/some6.webp";
import some7 from "../assets/images/some7.webp";
import some8 from "../assets/images/some8.webp";
import some9 from "../assets/images/some9.webp";
import some10 from "../assets/images/some10.webp";
---

<MainLayout title="Tails.com">
  <section id="hero" class="mx-5 md:mx-custom104 lg:grid grid-cols-3">
    <div class="lg:col-span-2">
      <h1 class="text-5xl md:text-8xl font-paytone uppercase md:max-w-3xl xl:max-w-screen-2xl pb-8 md:pb-16 pt-4 md:pt-16 animationinviewfade">Real <span class="text-SalmonTreat-500">Food</span> for Real Friends</h1>
      <p class="text-sm md:text-xl pb-8 md:pb-16 sm:max-w-xl md:max-w-2xl animationinviewfade">
        We craft <strong>unique recipes</strong> tailored to your dog’s needs. Backed by science and delivered to your door each month through our easy subscription, your dog gets the <strong>perfect meals</strong>, right on time.
        <div class="flex justify-center md:justify-start gap-6 md:gap-12 pb-4 md:pb-16">
          <a href="/form" class="animationinviewfade">
            <Button variant="primary" size="large">Try It Now</Button>
          </a>
          <a href="/pricing" class="animationinviewfade">
            <Button variant="secondary" size="large">Learn more</Button>
          </a>
        </div>
      </p>
    </div>

    <div id="herodogs" class="mt-8 md:mt-0 flex items-end justify-center">
      <img id="herodogimage" src="/herodog1.webp" alt="Dog Portrait" class="w-[250px] sm:w-[350px] md:w-[450px] h-auto opacity-100 transition-opacity duration-1000 ease-in-out" />
    </div>
  </section>

  <Kinetic />

  <section class="mx-5 md:mx-custom104 mb-16 md:mb-44 grid grid-cols-1 md:grid-cols-2 gap-custom90" id="whytails">
    <div>
      <h2 class="text-2xl md:text-custom54 font-paytone md:max-w-3xl pb-6 md:pb-8 uppercase animationinviewfade">Why Should You Pick Tails.com?</h2>
      <div class="block md:hidden mb-6 w-[350px] lg:w-[500px] h-auto">
        <Image src={whytails} alt="tails" />
      </div>
      <p class="pb-4 md:pb-6 text-xs md:text-base animationinviewfade max-w-xl">Better digestion, shinier coats, stronger joints and more – it’s all in the bag with a recipe <strong>designed just for your dog</strong>.</p>
      <p class="pb-4 md:pb-6 text-xs md:text-base animationinviewfade max-w-xl">Packed with tasty, high-quality ingredients, every bite is perfectly balanced with the good stuff they need, from protein and vitamins to tail-waggingly good flavor.</p>
      <p class="pb-4 md:pb-6 text-xs md:text-base animationinviewfade max-w-xl">And the best part? <strong>We deliver it right to your door every month</strong>. Treats? Covered. Advice? Our friendly care team is always here to help.</p>
      <p class="pb-6 md:pb-12 text-xs md:text-base animationinviewfade max-w-xl">Kibble is king! Crunchy, satisfying, and great for their teeth – <strong>no added sugar or artificial nasties</strong>. A little goes a long way to keep them happy and healthy.</p>
      <div class="animationinviewfade">
        <a href="/form">
          <Button variant="primary" size="small">Get Meal Plan</Button>
        </a>
      </div>
    </div>
    <div class="hidden md:block w-[350px] lg:w-[500px] h-auto">
      <Image src={whytails} alt="tails" />
    </div>
  </section>

  <Howitworks />

  <Reviews />

  <Ourteam />

  <Quote>We deliver more than 8 million delicious meals every month</Quote>

  <section class="mx-5 md:mx-custom104 mb-16 md:mb-44" id="some">
    <h2 class="text-2xl md:text-custom54 font-paytone uppercase md:max-w-3xl pb-6 md:pb-16 animationinviewfade">
      FOLLOW
      <a href="https://www.instagram.com/tails.com_uk/" target="_blank" rel="noopener noreferrer" class=""> @TAILS.COM_UK </a>
      ON INSTAGRAM TO SEE MORE
    </h2>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-3 md:gap-6 animationinviewfade">
      <a href="https://www.instagram.com/tails.com_uk/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-custom50px h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={some1} alt="SoMe billede" />
      </a>
      <a href="https://www.instagram.com/tails.com_uk/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-custom50px h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={some2} alt="SoMe billede" />
      </a>
      <a href="https://www.instagram.com/tails.com_uk/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-custom50px h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={some3} alt="SoMe billede" />
      </a>
      <a href="https://www.instagram.com/tails.com_uk/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-custom50px h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={some4} alt="SoMe billede" />
      </a>
      <a href="https://www.instagram.com/tails.com_uk/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-custom50px h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={some5} alt="SoMe billede" />
      </a>
      <a href="https://www.instagram.com/tails.com_uk/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-custom50px h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={some6} alt="SoMe billede" />
      </a>
      <a href="https://www.instagram.com/tails.com_uk/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-custom50px h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={some7} alt="SoMe billede" />
      </a>
      <a href="https://www.instagram.com/tails.com_uk/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-custom50px h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={some8} alt="SoMe billede" />
      </a>
      <a href="https://www.instagram.com/tails.com_uk/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-custom50px h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={some9} alt="SoMe billede" />
      </a>
      <a href="https://www.instagram.com/tails.com_uk/" target="_blank" rel="noopener noreferrer" class="block">
        <Image class="rounded-custom50px h-40 md:h-52 lg:h-60 w-full object-cover transform transition-all duration-300 hover:scale-105 hover:translate-y-2" src={some10} alt="SoMe billede" />
      </a>
    </div>
  </section>

  <Subscription />
</MainLayout>

<script>
  import { animate, inView } from "motion";

  animate("body", { opacity: [0, 1] }, { duration: 1.5 });

  const imagePaths = ["/herodog1.webp", "/herodog2.webp", "/herodog3.webp", "/herodog4.webp", "/herodog5.webp"];

  const heroImage = document.getElementById("herodogimage");
  let currentImageIndex = 0;

  function fadeImage() {
    if (heroImage instanceof HTMLImageElement) {
      heroImage.classList.remove("opacity-100");
      heroImage.classList.add("opacity-0");

      setTimeout(() => {
        currentImageIndex = (currentImageIndex + 1) % imagePaths.length;
        heroImage.src = imagePaths[currentImageIndex];

        heroImage.classList.remove("opacity-0");
        heroImage.classList.add("opacity-100");
      }, 500);
    }
  }

  setInterval(fadeImage, 3000);

  // Inview animation fade in + return
  inView(".animationinviewfade", ({ target }) => {
    animate(target, { opacity: [0, 1] }, { duration: 2 });
    return () => {
      animate(target, { opacity: [0, 1] });
    };
  });
</script>
