---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import pricinghero from "../assets/images/pricingdog.webp";
import toy1 from "../assets/images/toy1.svg";
import small1 from "../assets/images/small1.svg";
import medium1 from "../assets/images/medium1.svg";
import large1 from "../assets/images/large1.svg";
import giant1 from "../assets/images/giant1.svg";
import Howitworks from "../components/Howitworks.astro";
import Reviews from "../components/Reviews.astro";
import Ourproducts from "../components/Ourproducts.astro";
import Subscription from "../components/Subscription.astro";
---

<MainLayout title="Tails.com">
  <section class="bg-SalmonTreat-200 md:pl-custom104 mb-16 md:mb-20" id="pricinghero">
    <div class="lg:grid grid-cols-2">
      <div class="py-10 md:py-32 mx-5">
        <h2 class="text-5xl md:text-custom54 pb-8 md:pb-16 font-paytone uppercase animationinviewfade">AFFORDABLE CARE, TAILORED TO YOUR DOG</h2>
        <p class="text-sm md:text-xl pb-8 md:pb-16 animationinviewfade">Every dog is unique, and so is the cost of their perfect meal plan.</p>
        <a href="/form" class="animationinviewfade">
          <Button variant="subprimary" size="large">Start Trial</Button>
        </a>
      </div>
      <div class="flex items-end justify-center">
        <Image class="hidden lg:block w-full md:w-[500px] h-auto" src={pricinghero} alt="Dog portrait" />
      </div>
    </div>
  </section>

  <Howitworks />

  <section class="mx-5 md:mx-custom104 mb-16 md:mb-44" id="pricesize">
    <h2 class="text-2xl md:text-custom54 font-paytone max-w-xl md:max-w-3xl pb-6 md:pb-8 uppercase animationinviewfade">Made fresh for your dog at a price you'll love</h2>
    <p class="pb-6 text-xs md:text-base max-w-xl md:max-w-2xl animationinviewfade">Every month, we create fresh, personalized meals just for your dog – no mass production, no compromises. See how affordable it is to give your furry friend the nutrition they deserve.</p>
    <p class="md:pb-8 text-xs md:text-base max-w-xl md:max-w-2xl animationinviewfade">All prices are per month on average, based on your dog’s approximate weight. If you have any questions, you’re always welcome to contact us.</p>
    <div class="sm:grid sm:grid-cols-2 md:grid-cols-5 gap-10 stagger-container">
      <article class="flex flex-col items-center justify-center text-center stagger-item">
        <Image src={toy1} alt="dog illustration" class="pb-8 w-40 h-auto -mt-16 md:-mt-0" />
        <h3 class="text-sm md:text-xl font-bold pb-3">Toy (1-5kg)</h3>
        <p class="text-xs md:text-base">13,42 € per month <br />average</p>
      </article>
      <article class="flex flex-col items-center justify-center text-center stagger-item">
        <Image src={small1} alt="dog illustration" class="pb-8 w-40 h-auto -mt-14 md:-mt-0" />
        <h3 class="text-sm md:text-xl font-bold pb-3">Small (5-10kg)</h3>
        <p class="text-xs md:text-base">17,94 € per month <br /> average</p>
      </article>
      <article class="flex flex-col items-center justify-center text-center stagger-item">
        <Image src={medium1} alt="dog illustration" class="pb-8 w-40 h-auto -mt-12 md:-mt-0" />
        <h3 class="text-sm md:text-xl font-bold pb-3">Medium (25-45kg)</h3>
        <p class="text-xs md:text-base">26,33 € per month <br /> average</p>
      </article>
      <article class="flex flex-col items-center justify-center text-center stagger-item">
        <Image src={large1} alt="dog illustration" class="pb-8 w-40 h-auto -mt-3 md:-mt-0" />
        <h3 class="text-sm md:text-xl font-bold pb-3">Large (over 45kg)</h3>
        <p class="text-xs md:text-base">35,91 € per month <br /> average</p>
      </article>
      <article class="flex flex-col items-center justify-center text-center stagger-item">
        <Image src={giant1} alt="dog illustration" class="pb-8 w-40 h-auto -mt-0 md:-mt-0" />
        <h3 class="text-sm md:text-xl font-bold pb-3">Giant (kg)</h3>
        <p class="text-xs md:text-base">46,83 € per month <br />average</p>
      </article>
    </div>
  </section>

  <section id="uniqueprice" class="bg-BarkingAtTheMoon-500 py-8 px-5 md:p-custom104 mb-16 md:mb-44">
    <div class="flex items-center justify-center">
      <h2 class="text-GoldenRetriever-100 text-2xl text-center md:text-custom54 font-paytone uppercase pb-8 md:pb-16">
        Your price is <span class="text-SalmonTreat-500">unique</span> and based on
      </h2>
    </div>
    <div class="stagger-container-2 text-GoldenRetriever-100 text-center md:grid grid-cols-3">
      <div>
        <h3 class="stagger-item-2 text-base md:text-2xl pb-0 md:pb-3 font-bold">Ingredients</h3>
        <p class="stagger-item-2 text-base pb-8 md:pb-0">Some cost more than others</p>
      </div>
      <div>
        <h3 class="stagger-item-2 text-base md:text-2xl pb-0 md:pb-3 font-bold">Volume</h3>
        <p class="stagger-item-2 text-base pb-8 md:pb-0">Larger dogs need more food</p>
      </div>
      <div>
        <h3 class="stagger-item-2 text-base md:text-2xl pb-0 md:pb-3 font-bold">Supplements</h3>
        <p class="stagger-item-2 text-base md:pb-0">For dogs that need extra support</p>
      </div>
    </div>
  </section>

  <Reviews />

  <Ourproducts />

  <Subscription />
</MainLayout>

<script>
  import { animate, stagger, inView } from "motion";

  animate("body", { opacity: [0, 1] }, { duration: 1.5 });

  // Stagger animation for .stagger-container (the entire article)
  inView(".stagger-container", ({ target }) => {
    // Initial animation when the container comes into view
    animate(
      ".stagger-item",
      {
        opacity: [0, 1],
        transform: ["translateY(20px)", "translateY(0)"],
      },
      {
        delay: stagger(0.5, { start: 0.3 }),
        duration: 1,
        easing: "ease-out",
      }
    );

    // Return animation when the container leaves the viewport
    return () => {
      animate(
        ".stagger-item",
        {
          opacity: [0, 1],
          transform: ["translateY(0)", "translateY(20px)"],
        },
        {
          delay: stagger(0.5, { start: 0.3 }),
          duration: 1,
          easing: "ease-out",
        }
      );
    };
  });

  // Stagger animation for .stagger-container (the entire article) 2
  inView(".stagger-container-2", ({ target }) => {
    // Initial animation when the container comes into view
    animate(
      ".stagger-item-2",
      {
        opacity: [0, 1],
        transform: ["translateY(20px)", "translateY(0)"],
      },
      {
        delay: stagger(0.5, { start: 0.3 }),
        duration: 1,
        easing: "ease-out",
      }
    );

    // Return animation when the container leaves the viewport
    return () => {
      animate(
        ".stagger-item-2",
        {
          opacity: [0, 1],
          transform: ["translateY(0)", "translateY(20px)"],
        },
        {
          delay: stagger(0.5, { start: 0.3 }),
          duration: 1,
          easing: "ease-out",
        }
      );
    };
  });

  // Inview animation fade in + return
  inView(".animationinviewfade", ({ target }) => {
    animate(target, { opacity: [0, 1] }, { duration: 2 });
    return () => {
      animate(target, { opacity: [0, 1] });
    };
  });
</script>
